// Abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Base
@use 'base/reset';
@use 'base/typography';
@use 'base/utilities';

// Components
@use 'components/primevue'; // PrimeVue component styles
@use 'components/auth';
@use 'components/worker-data'; // Worker Data module styles

// Transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-normal;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-enter-active {
  transition: all 0.4s ease;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(20px);
}
